h2 {
    margin-top: 0;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

    .section-title h2 {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #45505b;
    }

        .section-title h2::before {
            content: '';
            position: absolute;
            display: block;
            width: 120px;
            height: 1px;
            background: #ddd;
            bottom: 1px;
            left: calc(50% - 60px);
        }

        .section-title h2::after {
            content: '';
            position: absolute;
            display: block;
            width: 40px;
            height: 3px;
            background: #0563bb;
            bottom: 0;
            left: calc(50% - 20px);
        }

.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #728394;
}


h2.headertekst {
    color: #0366d6;
    text-align: center;
}



.about .content ul {
    list-style: none;
    padding: 0;
}

    .about .content ul li {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }

    .about .content ul strong {
        margin-right: 10px;
        color: #0366d6;
    }

    .about .content ul i {
        font-size: 16px;
        margin-right: 5px;
        color: #0563bb;
        line-height: 0;
    }

.about .content p:last-child {
    margin-bottom: 0;
}
/*--------------------------------------------------------------
# Proffesional 
--------------------------------------------------------------*/
.professional .professional-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
}

.professional .professional-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
}

h2.headertekst {
    color: #0563bb;
    text-align: center;
}

.professional .professional-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #0563bb;
    margin-bottom: 10px;
}

.professional .professional-item h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.professional .professional-item ul {
    padding-left: 20px;
}

    .professional .professional-item ul li {
        padding-bottom: 10px;
    }

.professional .professional-item:last-child {
    padding-bottom: 0;
}


.professional .professional-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
}
/*--------------------------------------------------------------
# Èducation
--------------------------------------------------------------*/

.education .card {
    background-color: #0563bb;
}

.education .card-body {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.education .card :hover {
    background-color: #fff;
}

.education .card-body:hover {
    color: #0563bb;
}

.education #subject {
    text-align: center !important;
}


.education .education-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
}

.education .education-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
}

h2.headertekst {
    color: #0563bb;
    text-align: center;
}

.education .education-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #0563bb;
    margin-bottom: 10px;
}

.education .education-item h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.education .education-item ul {
    padding-left: 20px;
}

    .education .education-item ul li {
        padding-bottom: 10px;
    }

.education .education-item:last-child {
    padding-bottom: 0;
}


.education .education-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
}
/*--------------------------------------------------------------
# Certificate
--------------------------------------------------------------*/
.certificate {
    margin-bottom: 40px;
    padding: 2em;
    background: rgba(62,62,62,03);
    width: 100%;
    -webkit-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
}

    .certificate .icon {
        display: block;
        margin-bottom: 30px;
    }

        .certificate .icon i {
            font-size: 60px;
            line-height: 1.0;
            color: #0563bb;
        }

    .certificate .desc h3 {
        line-height: 1.3;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 3px;
        text-transform: uppercase;
        position: relative;
        color: #0563bb;
    }

        .certificate .desc h3:after {
            position: absolute;
            bottom: -15px;
            left: 0;
            right: 0;
            content: '';
            width: 30px;
            height: 1px;
            background: #0563bb;
            margin: 0 auto;
        }

    .certificate .desc span:after {
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        content: '';
        width: 30px;
        height: 1px;
        background: #0563bb;
        margin: 0 auto;
    }

    .certificate .desc h3 a {
        color: #fff;
    }

    .certificate .desc h4 {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 18px;
    }



    .certificate:hover {
        background: #0563bb;
    }

        .certificate:hover .icon i {
            color: #fff;
        }

        .certificate:hover h3 {
            color: #000000;
        }

            .certificate:hover h3:after {
                background: #000000;
            }
/*--------------------------------------------------------------
# Top Button
--------------------------------------------------------------*/

#topButton {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 99;
    font-size: 9px;
    border: none;
    outline: none;
    background-color: #0563bb;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
}

    #topButton:hover {
        background-color: #555;
    }

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#home {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../images/image_2.jpg") top center;
    background-size: cover;
    position: relative;
}

    #home:before {
        content: "";
        background: rgba(255, 255, 255, 0.8);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #home .container {
        padding-top: 80px;
    }

    #home h1 {
        margin: 0;
        font-size: 36px;
        font-weight: 700;
        line-height: 72px;
        color: #5e5e5e;
        font-family: "Poppins", sans-serif;
    }

    #home span {
        font-size: 30px;
        color: #0563bb
    }

    #home h2 {
        color: #5e5e5e;
        margin: 10px 0 0 0;
        font-size: 22px;
    }

    #home .btn-get-started {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.5px;
        display: inline-block;
        padding: 14px 50px;
        border-radius: 5px;
        transition: 0.5s;
        margin-top: 30px;
        color: #fff;
        background: #2487ce;
    }

        #home .btn-get-started:hover {
            background: #5e5e5e;
        }

    #home .links {
        margin-top: 10px;
        text-align: center;
    }

    #home .icon-boxes {
        margin-top: 100px;
    }

    #home .icon-box {
        padding: 50px 30px;
        position: relative;
        overflow: hidden;
        background: #E6E6FA;
        box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
        z-index: 1;
    }

        #home .icon-box .title {
            font-weight: 700;
            margin-bottom: 15px;
            font-size: 18px;
        }

            #home .icon-box .title a {
                color: #124265;
                transition: 0.3s;
            }

        #home .icon-box .description {
            font-size: 15px;
            line-height: 28px;
            margin-bottom: 0;
        }

        #home .icon-box .icon {
            margin-bottom: 20px;
            padding-top: 10px;
            display: inline-block;
            transition: all 0.3s ease-in-out;
            font-size: 36px;
            line-height: 1;
            color: #2487ce;
        }

        #home .icon-box:hover {
            transform: scale(1.08);
        }

            #home .icon-box:hover .title a {
                color: #2487ce;
            }

            #home .icon-box:hover .description  {
                color: #2487ce;
            }


@media (min-width: 1024px) {
    #home {
        background-attachment: fixed;
    }
}

@media (max-height: 800px) {
    #home {
        height: auto;
    }
}

@media (max-width: 992px) {
    #home {
        height: auto;
    }

        #home h1 {
            font-size: 28px;
            line-height: 36px;
        }

        #home h2 {
            font-size: 18px;
            line-height: 24px;
        }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    width: 100%;
    background: #fff;
}

    .contact .info i {
        font-size: 20px;
        color: #0563bb;
        float: left;
        width: 44px;
        height: 44px;
        background: #eef7ff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
    }

    .contact .info h4 {
        padding: 0 0 0 60px;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #45505b;
    }

    .contact .info p {
        padding: 0 0 0 60px;
        margin-bottom: 0;
        font-size: 14px;
        color: #728394;
    }

    .contact .info .email, .contact .info .phone {
        margin-top: 40px;
    }

        .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
            background: #0563bb;
            color: #fff;
        }

.contact .email-form {
    width: 100%;
    background: #fff;
}

    .contact .email-form .form-group {
        padding-bottom: 8px;
    }

    .contact .email-form button[type="submit"] {
        background: #0563bb;
        border: 0;
        padding: 10px 35px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
    }

        .contact .email-form button[type="submit"]:hover {
            background: #0678e3;
        }

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*
    Projects
*/
.projects {
    margin-bottom: 40px;
    padding: 2em;
    background: #00008B;
    width: 100%;
    -webkit-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
}


    .projects .desc h3 {
        line-height: 1.3;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 3px;
        text-transform: uppercase;
        position: relative;
        color: #ffffff;
    }




        .projects .desc h3 a {
            color: #fff;
        }

    .projects .desc h4 {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 18px;
        color: #ffffff;
    }



    .projects:hover {
        background: #0563bb;
    }
