@model Portfolio.Web.ViewModels.Administration.Dashboard.EditPositionInputModel

@{
    this.ViewData["Title"] = "Edit Position";

}
<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
</div>
<form method="post" asp-action="Edit">
    <section class="border border-primary">
        <div class="container">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-4">
                        <label asp-for="Id" class="text-primary"></label>
                        <select asp-for="Id" asp-items="Model.DropDownModel.Select(x=>new SelectListItem(x.PositionName, x.Id))" class="form-control"></select>
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                <div class="col-md-4">
                    <label asp-for="NewPositionName" class="text-primary"></label>
                    <input asp-for="NewPositionName" class="form-control" />
                    <span asp-validation-for="NewPositionName" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Period" class="text-primary"></label>
                    <input asp-for="Period" class="form-control" />
                    <span asp-validation-for="Period" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="MoreInformation" class="text-primary"></label>
                    <input asp-for="MoreInformation" class="form-control" />
                    <span asp-validation-for="MoreInformation" class="text-danger"></span>
                </div>
            </div>
        </div>
    </section>
    <input type="submit" class="btn-primary" />
</form>