@model Portfolio.Web.ViewModels.Administration.PositionViewModel.AllPositionModel

@foreach (var position in Model.Positions)
{
    <div class="row">
        <div class="col-lg-6">
            <ul>
                <li> <strong>FirstName:</strong> <span>@position.PositionName</span></li>
                <li> <strong>LastName:</strong> <span>@position.Period</span></li>
                <li> <strong>ThirdName:</strong> <span>@position.MoreInformation</span></li>
            </ul>
        </div>
    </div>
}