@{
    this.ViewData["Title"] = "Thank you";
}
<div class="text-center">

    <h2 class="text-primary">Thank you for contacting me!</h2>
    <p class="text-primary">Expect a response to the email address you provided.</p>

</div>
<script>
    window.setTimeout(function(){
        window.location.href='/Index';
    }, 4000);
</script>