@model Portfolio.Web.ViewModels.Administration.Speciality.CreateSpecialtyInputModel
@{
    ViewData["Title"] = "Create Speciality";
}
<div class="text-center">
    <h1 class="text-primary">@this.ViewData["Title"]</h1>
</div>
<form method="post" asp-action="CreateSpecialty">
    <section class="border border-primary">
        <div class="container">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-4">
                    <label asp-for="SpecialtyName" class="text-primary"></label>
                    <input asp-for="SpecialtyName" class="form-control" />
                    <span asp-validation-for="SpecialtyName" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Degree" class="text-primary"></label>
                    <input asp-for="Degree" class="form-control" />
                    <span asp-validation-for="Degree" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="UniversityId" class="text-primary"></label>
                    <select asp-for="UniversityId" asp-items="Model.UniversityDropDown.Select(x=> new SelectListItem(x.UniversityName,x.Id))" class="form-control"></select>
                    <span asp-validation-for="UniversityId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </section>
    <br />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        Save
    </button>

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Do you want to save these changes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>