@model Portfolio.Web.ViewModels.Administration.SectorViewModels.AllSectorsViewModel
@{
    var number = 0;
    this.ViewData["Title"] = "All Sectors";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Sector Name</th>
            <th scope="col">Organization Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Sector)
        {
            number++;

            <tr>
                <th scope="row"> @number</th>
                <td>@project.SectorName</td>
                <th scope="row"> @project.OrganizationOrganizationName</th>

            </tr>
        }
    </tbody>
</table>