@model Portfolio.Web.ViewModels.Administration.Dashboard.CreateSectorInputModel
@{
    ViewData["Title"] = "CreateSector";
}

<h1>CreateSector</h1>



<form method="post" asp-action="CreateSector">
    <section class="border border-primary">
        <div class="container">
            <p class="align-content-center">Create Company</p>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-sm">
                    <label asp-for="SectorName" class="text-primary"></label>
                    <input asp-for="SectorName" class="form-control" />
                    <span asp-validation-for="SectorName" class="text-danger"></span>
                </div>
                <div class="col-sm">
                    <label asp-for="OrganizationName" class="text-primary"></label>
                    <input asp-for="OrganizationName" class="form-control" />
                    <span asp-validation-for="OrganizationName" class="text-danger"></span>
                </div>
            </div>
        </div>
    </section>
    <input type="submit" class="btn-primary" />
</form>