@model Portfolio.Web.ViewModels.Administration.Dashboard.CreateSectorInputModel
@{
    ViewData["Title"] = "Create Sector";
}
<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
</div>
<form method="post" asp-action="CreateSector">
    <section class="border border-primary">
        <div class="container">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-4">
                    <label asp-for="SectorName" class="text-primary"></label>
                    <input asp-for="SectorName" class="form-control" />
                    <span asp-validation-for="SectorName" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="OrganizationId" class="text-primary"></label>
                    <select asp-for="OrganizationId" asp-items="Model.OrganizationDropDown.Select(x=> new SelectListItem(x.OrganizationName,x.Id))" class="form-control"></select>
                    <span asp-validation-for="OrganizationId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </section>
    <input type="submit" class="btn-primary" />
</form>