@model Portfolio.Web.ViewModels.Administration.Dashboard.CreateUniversityInputModel
@{
    ViewData["Title"] = "CreateUniversity";
}

<h1>CreateUniversity</h1>

<form method="post" asp-action="CreateUniversity">
    <section class="border border-primary">
        <div class="container">
            <p class="align-content-center">Create University</p>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-sm">
                    <label asp-for="UniversityName" class="text-primary"></label>
                    <input asp-for="UniversityName" class="form-control" />
                    <span asp-validation-for="UniversityName" class="text-danger"></span>
                </div>
                <div class="col-sm">
                    <label asp-for="PeriodInUniversity" class="text-primary"></label>
                    <input asp-for="PeriodInUniversity" class="form-control" />
                    <span asp-validation-for="PeriodInUniversity" class="text-danger"></span>
                </div>
                <div class="col-sm">
                    <label asp-for="CountryName" class="text-primary"></label>
                    <input asp-for="CountryName" class="form-control" />
                    <span asp-validation-for="CountryName" class="text-danger"></span>
                </div>
                <div class="col-sm">
                    <label asp-for="TownName" class="text-primary"></label>
                    <input asp-for="TownName" class="form-control" />
                    <span asp-validation-for="TownName" class="text-danger"></span>
                </div>
                <div class="col-sm">
                    <label asp-for="PrivateName" class="text-primary"></label>
                    <input asp-for="PrivateName" class="form-control" />
                    <span asp-validation-for="PrivateName" class="text-danger"></span>
                </div>
               
            </div>
        </div>
    </section>
    <input type="submit" class="btn-primary" />
</form>